html {
    background-color: #FFFFFF;
}

/* Top bar with app logo */
.header {
    background-color: #E98450;
    min-height: 8rem;
    color: #FFAA80;
    text-align: center;
}

/* Item entry section */
.entry {
    text-align: center;
}

/* Item input */
input {
    border-radius: 2rem;
    border-style: solid;
    border-color: #808080;
    margin-top: 4rem;
    width: 90%;
    height: 2.7rem;
    text-align: center;
}

/* Item add button */
.add-items {
    border-radius: 1em;
    background-color: #FFAA80;
    color: #D86328;
    border-style: none;
    width: 8rem;
    height: 2.7rem;
    margin-top: 0.5em;
    cursor: default;
}

/* Shopping List section */
.list {
    margin: 3rem auto 0 auto;
    max-width: 90%;
}

/* List ul */
.list-items {
    list-style: none;
    width: 100%;
    /*padding-left: 30%;*/
    min-height: 5rem;
    padding: 0;
    display: table;
}

/* List li */
.item {
    width: 100%;
    position: relative;
}

/* Unchecked items */
.item-active {
    width: 100%;
    height: 2rem;
    margin: 0.3rem 0;
    border-radius: 1em;
    border-style: none;
    background-color: #BEEBDC;
    text-align: left;
    z-index: 1;
    vertical-align: middle;
    line-height: 2em;
}

/* Checked Items */
.item-checked {
    width: 100%;
    height: 2rem;
    margin: 0.3rem 0;
    border-radius: 1em;
    border-style: none;
    background-color: #5FB196;
    text-align: left;
    color: #808080;
    text-decoration: line-through;
    z-index: 1;
}

/* Delete Individual Items */
.delete {
    color: #B2B2B2;
    display: none;
    font-size: 1.5em;
    z-index: 9999;
    position: absolute;
    top: 0.15em;
    right: 0.4em;
}

.delete:hover {
    color: #CC0000;
}

.item:hover .delete {
    display: block;
}

/* List Clear */
.clear-all {
    margin: 2em auto 5em auto;
    padding: 0 auto 0 auto;
    text-align: center;
}

.clear-all-button {
    width: 6em;
    height: 2rem;
    border-radius: 1em;
    border-style: none;
    background-color: #D46A6A;
    text-align: center;
    cursor: default;
}

/* Credit Footer */
.info {
    background-color: #E98450;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    font-weight: 100;
    font-size: 0.8em;
}

/* Logo credit */
.icon {
    font-size: 0.5rem;
}

/* Sticky footer */

.wrapper {
    height: 100%
}
.info {
    position: fixed;
    bottom: 0;
}

/* Responsive Design */

@media screen and (min-width: 375px) {
    .list {
        width: 60%;
    }
}

@media screen and (min-width: 575px) {

input {
    width: 20em;
}

.list {
    width: 22em;
}

}
