html {
    background-color: #FFFFFF;
}

/* Top bar with app logo */
.header {
    background-color: #E98450;
    min-height: 8rem;
    color: #FFAA80;
    text-align: center;
}

/* Item entry section */
.entry {
    text-align: center;
}

/* Item input */
input {
    border-radius: 2rem;
    border-style: solid;
    border-color: #808080;
    font-size: 1.5rem;
    margin-top: 4rem;
    width: 60%;
    height: 2.7rem;
    text-align: center;
}

/* Item add button */
.add-items {
    border-radius: 1em;
    background-color: #FFAA80;
    color: #D86328;
    border-style: none;
    font-size: 1.5rem;
    width: 10rem;
    height: 2.7rem;
}

.add-items:hover {
    cursor: default;
}

/* Shopping List section */
.list {
    margin: 3rem auto 0 auto;
    max-width: 60%;
    border: solid 1px black;
}

/* List ul */
.list-items {
    list-style: none;
    max-width: 100%;
    /*padding-left: 30%;*/
    min-height: 15rem;
    padding: 0;
}

/* List li */
.item {
    max-width: 100%;
    position: relative;
}

/* Unchecked items */
.item-active {
    width: 100%;
    height: 2rem;
    margin: 0.3rem 0;
    border-radius: 1em;
    border-style: none;
    background-color: #BEEBDC;
    text-align: left;
    font-size: 1.5rem;
    float: left;
    z-index: 1;
    position: absolute;
}

/* Checked Items */
.item-checked {
    width: 100%;
    height: 2rem;
    margin: 0.3rem 0;
    border-radius: 1em;
    border-style: none;
    background-color: #5FB196;
    text-align: left;
    font-size: 1.5rem;
    color: #808080;
    text-decoration: line-through;
    float: left;
    z-index: 1;
    position: absolute;
}

/* Delete Individual Items */
.delete {
    color: #B2B2B2;
    display: none;
    font-size: 4em;
    z-index: 9999;
    position: absolute;
    margin: .8em 0 0 90%;
}

.delete:hover {
    color: #CC0000;
}

/* List Clear */
.clear-all {
    width: 100%;
    margin-top: 2rem;
}

.clear-all-button {
    width: 30%;
    height: 2rem;
    margin: 0.3rem 35% 1rem 35%;
    border-radius: 1em;
    border-style: none;
    background-color: #D46A6A;
    text-align: center;
    font-size: 1.5rem;
}

/* Credit Footer */
.info {
    background-color: #E98450;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    font-weight: 100;
    font-size: 0.8em;
}

/* Logo credit */
.icon {
    font-size: 0.5rem;
}



